extends ../../../templates/layout

block vars
  - var current = 'Contact';

block title
  title Contact Enketo

block nav
  +menu(primary.About)

block main
  article
    .content
      :md
        ## Contact
        
        The Enketo team can be contacted via:
       
        * [GitHub](sites['enketo-code'])

