extends ../../../templates/layout

block vars
  - var current = 'Authentication';

block title
  title Enketo Authentication

block nav
  +menu(primary.Develop)

block main
  article
    .content
      h2 Authentication
      :md
        Enketo Express supports three methods of authentication:
      
        1. OpenRosa authentication (see [APIs](primary.Develop.APIs))
        2. External authentication using cookies
        3. External authentication using tokens

        The diagram below illustrates the diferences.

        ![Enketo Authentication](/media/images/authentication.svg)
