ul.adopters
  li
    a(title='OpenClinica', href='https://www.openclinica.com/clinical-trial-software-solutions/participate-electronic-patient-reported-outcomes/')
      img(alt='logo', src='/media/images/logos/openclinica.png')
  li
    a(title='KoBoToolbox', href='http://www.kobotoolbox.org/')
      img(alt='KoBoToolbox logo', src='/media/images/logos/kobotoolbox.jpg')
  li
    a(title='Medic Mobile', href='https://medicmobile.org/')
      img(alt='Medic Mobile logo', src='/media/images/logos/medic-mobile.png')
  li
    a(title='Ona', href='https://ona.io')
      img(alt='Ona logo', src='/media/images/logos/onadata.png')
  li
    a(title='formhub', href='https://formhub.org')
      img(alt='Formhub logo', src='/media/images/logos/formhub.png')
  li
    a(title='ODK Aggregate', href='https://opendatakit.org/use/aggregate/')
      img(alt='ODK logo', src='/media/images/logos/odk.png')
  li
    a(title='DataWinners', href='https://www.datawinners.com')
      img(alt='Datawinners logo', src='/media/images/logos/datawinners.png')
  li
    a(title='Twine', href='http://twine.unhcr.org/app/')
      img(alt='Twine logo', src='/media/images/logos/twine.png')
  
  li
    a(title='WDDCP', href='http://wddcp.com/')
      img(alt='logo', src='/media/images/logos/WDDCP.png', style='max-height: 60px;')
  li
    a(title='OpenSRP', href='http://smartregister.org/')
      img(alt='logo', src='/media/images/logos/openSRP.png')
  li
    a(title='SMAP server', href='http://www.smap.com.au')
      img(alt='logo', src='/media/images/logos/smap.png')
  li
    a(title='Airwolf', href='http://flipside.org/projects/airwolf/')
      img(alt='logo', src='/media/images/logos/airwolf.png')
  li
    a(title='Map Your World', href='http://mapyourworld.org')
      img(alt='logo', src='/media/images/logos/MYW.png')
  li
    a(title='mFieldWork', href='https://mfieldwork.com/')
      img(alt='logo', src='/media/images/logos/mFieldWork.png', style='max-height: 60px;')
