ul.adopters
  li
    a(title='OpenClinica', href='https://www.openclinica.com/')
      +img('/media/images/logos/openclinica.png', 'OpenClinica logo' )
  li
    a(title='KoBoToolbox', href='http://www.kobotoolbox.org/')
      +img('/media/images/logos/kobotoolbox.jpg', 'KoBoToolbox logo' )
  li
    a(title='London School of Hygiene & Tropical Medicine - Open Research Kits', href='https://odk.lshtm.ac.uk')
      +img('/media/images/logos/LSHTM_ORK.png', 'LSHTM ORK logo' )
  li
    a(title='Medic Mobile', href='https://medicmobile.org/')
      +img('/media/images/logos/medic-mobile.png', 'Medic Mobile logo' )
  li
    a(title='Ona', href='https://ona.io')
      +img('/media/images/logos/onadata.png', 'Ona logo')
  li
    a(title='Tattara', href='https://tattara.com/')
      +img('/media/images/logos/tattara.png', 'Tattara logo' )
  li
    a(title='ODK Aggregate', href='https://opendatakit.org/use/aggregate/')
      +img('/media/images/logos/odk.png', 'ODK logo')
  li
    a(title='DataWinners', href='https://www.datawinners.com')
      +img('/media/images/logos/datawinners.png', 'DataWinners logo')
  li
    a(title='Twine', href='http://twine.unhcr.org/app/')
      +img('/media/images/logos/twine.png', 'Twine logo')
  li
    a(title='WDDCP', href='http://wddcp.com/')
      +img('/media/images/logos/WDDCP.png', 'logo')
  li
    a(title='OpenSRP', href='http://smartregister.org/')
      +img('/media/images/logos/openSRP.png', 'OpenSRP logo')
  li
    a(title='SMAP Server', href='http://www.smap.com.au')
      +img('/media/images/logos/smap.png', 'SMAP Server logo')
  li
    a(title='Airwolf', href='http://flipside.org/projects/airwolf/')
      +img('/media/images/logos/airwolf.png', 'Airwolf logo')
  li
    a(title='Map Your World', href='http://mapyourworld.org')
      +img('/media/images/logos/MYW.png', 'MYW logo')
  li
    a(title='Survey123 for ArcGIS', href='https://survey123.arcgis.com/')
      +img('/media/images/logos/survey123.png', 'Survey123 logo')
  li
    a(title='mFieldWork', href='https://mfieldwork.com/')
      +img('/media/images/logos/mFieldWork.png', 'MFieldwork logo')
