footer.footer
  .content-ui
    .footer__branding
      a(href='/'): img(src=sites['enketo-main']+'/media/images/logos/icon_128x128_t.png', alt='Enketo icon')
    .footer__navbar
      +menu(primary)
    .footer__social
      a(href='https://github.com/enketo', aria-label='Enketo on GitHub')
        i.icon.icon-github
      a(href='https://twitter.com/enketo', aria-label='Enketo on Twitter')
        i.icon.icon-twitter
      a(href='https://blog.enketo.org/feed/index.xml', aria-label='Enketo Blog')
        i.icon.icon-feed
    .footer__copyright © Copyright #{new Date().getFullYear()}, Enketo LLC
