footer.footer
  .content-ui
    .footer__branding
      a(href= interpolate(sites['enketo-main'])): img(src=sites['enketo-main']+'/media/images/logos/icon_114x114.png', alt='Enketo icon')
    .footer__social
      a(href='https://github.com/enketo')
        i.icon.icon-github
      a(href='https://twitter.com/enketo')
        i.icon.icon-twitter
      a(href='http://blog.enketo.org/feed/index.xml')
        i.icon.icon-feed
      a(href='mailto:info@enketo.org')
        i.icon.icon-mail
    .footer__copyright © Copyright #{new Date().getFullYear()}, Enketo LLC
