header.header
  .header__banner
    | Enketo has joined ODK! 
    a(href="https://blog.enketo.org/enketo-has-joined-kobotoolbox") Learn more
    | .
  .content-ui
    a.header__branding(href= interpolate("#{enketo-main}/"), aria-label='Enketo front page')
      img(src= interpolate("#{enketo-main}/media/images/logos/enketo_bare_white_150x56.png"), alt="Enketo Logo")
    nav.header__primary-navbar
      input#collapse(type="checkbox")
      label(for="collapse")
        i.icon.icon-bars
      +menu(primary)

