include ./mixins
include ./mixins-img
block vars
doctype html
html(lang='en')
  head
    include ./tracking
    link(rel="preconnect", href="https://fonts.googleapis.com/", crossorigin)
    block title
      title Enketo
    - var crr = 'tests';
    meta(charset='utf-8')
    meta(name='author', content='Martijn van de Rijdt (Enketo LLC)')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='Description', content=`project: Enketo Open-Source Project, ecosystem: ODK OpenDataKit Open Data Kit${current ? ', page: '+current+' Enketo' : ''}`)
    
    //- Load styles inline to increase loading speed
    style
      include:scss ../scss/all.scss

    link(rel='shortcut icon', href='/media/images/logos/enketo.ico')
    link(rel='preload', as='font', href='/media/fonts/fontawesome-webfont.woff', type='font/woff', crossorigin)
    link(rel='stylesheet', href='/media/fonts/fontawesome-webfont.woff', media='all')

    //- Load Font asynchronously to not block loading
    script(type="text/javascript").
      WebFontConfig = {
          google: { families: [ 'Open+Sans:400,700:latin' ] }
      };
      (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
      })();
   
    block css
  body
    include ./header
    include ./search
    .attract(role='banner')
      block attract
    nav.secondary-nav
      .content-ui
        block nav
    div.main(role='main')
      block main
    include ./footer
    //- script(src='http://localhost:35729/livereload.js?snipver=1')
    script(async, src='/js/all.min.js')
