.samples
  button.button-icon-only.samples__scroll-btn.left-scroll(type='button'): i.icon.icon-chevron-left
  .samples__list-wrapper
    ul.samples__list
      - 
        var samples = [ 
          {
            "title":"Widgets",
            "img": "/media/images/screenshots/widgets.png",
            "desc": "Showcases the different available widgets",
            "live": "https://enke.to/x/#widgets",
            "auth": "Multiple",
            "src": "https://docs.google.com/spreadsheet/ccc?key=0Al3Mw5sknZoPdEpPa29tamFCc1o2bmFVR3RaemlSRXc&usp=sharing"
          }, {
            "title":"Image Map",
            "img": "/media/images/screenshots/imgmap.png",
            "desc": "Image Map Demo",
            "live": "https://enke.to/x/#imgmap",
            "auth": "Enketo LLC",
            "src": "https://docs.google.com/spreadsheets/d/1kXZ9IkWsc8iEXfN0Uosl8giJIBTf428dEBWNkhXXU3M/edit?usp=sharing"
          }, {
            "title": "Fatal Injury",
            "img": "/media/images/screenshots/fatal.png",
            "desc": "A form using the Grid Theme",
            "live": "https://enke.to/x/#fatal",
            "auth": "WHO-Ona"
          }, {
            "title": "Likert Scales",
            "img": "/media/images/screenshots/likert.png",
            "desc": "A form with Likert widgets to create a Likert scale",
            "live": "https://enke.to/x/#likert",
            "auth": "Enketo LLC",
            "src": "https://docs.google.com/spreadsheets/d/11zTyKPbYYNG5rAwZRQlR6Tj6ox9A4O82vMmAU5EsQ60/edit?usp=sharing"
          }, {
            "title": "Draw widgets",
            "img": "/media/images/screenshots/draw.png",
            "desc": "A form with Draw and Signature widgets",
            "live": "https://enke.to/x/#draw",
            "auth": "Enketo LLC",
            "src": "https://docs.google.com/spreadsheets/d/1Pw60xxOwKE5rHS2WkYGejfJ7knVVlKpGGVsPTp1Yqg0/edit?usp=sharing"
          }, {
            "title": "S.E.L.F. Study",
            "img": "/media/images/screenshots/SELF.png",
            "desc": "A form with complex skip logic and advanced features",
            "live": "https://enke.to/x/#self",
            "auth": "Erwin Olario",
            "src": "https://docs.google.com/spreadsheet/ccc?key=0Al3Mw5sknZoPdDJUQW10YnFZRGRBWDR6SGNXUW1RVEE&usp=sharing"
          }, {
            "title":"Birds",
            "img": "/media/images/screenshots/birds.png",
            "desc": "A form using media labels",
            "live": "https://enke.to/x/#birds",
            "auth": "Unknown",
            "src": "https://docs.google.com/spreadsheets/d/1jsWB7685StKW_OW7YFgoLHHoSPE_xk6Tcf5UsHh5JJA/edit?usp=sharing"
          }, {
            "title":"Grid Theme Tutorial",
            "img": "/media/images/screenshots/grid.png",
            "desc": "Tutorial for Grid Theme",
            "live": "https://enke.to/x/#grid",
            "auth": "Enketo LLC",
            "src": "https://docs.google.com/spreadsheet/ccc?key=0Al3Mw5sknZoPdDhSVmhJX2NvOG44X1RadTA2RVRzSHc&usp=sharing"
          }
        ]
      +samplify(samples)
  button.button-icon-only.samples__scroll-btn.right-scroll(type='button'): i.icon.icon-chevron-right
