.search(role="search")
  //iframe(src="https://duckduckgo.com/search.html?q=enketo&site=enketo.org,blog.enketo.org,apidocs.enketo.org&prefill=Search&bgcolor=transparent",style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;",frameborder="0")

