ul.sponsors
  li
    a(href='http://qsel.columbia.edu/', title='Sustainable Engineering Lab at Columbia University')
      img(src='/media/images/logos/sel_columbia.png', alt='SEL logo', style='padding: 5px;')
  li
    a(href='https://www.santafe.edu/', title='under a project with Slum/Shack Dwellers International')
      img(src='/media/images/logos/SFI.jpg', alt='SFI logo')
  li
    a(href='http://www.who.int/reproductivehealth/topics/mhealth/en/')
      img(src='/media/images/logos/HRP.png', alt='HRP logo', style='padding-top: 20px;')
  li
    a(href='http://immap.org')
      img(src='/media/images/logos/immap.png', alt='iMMAP logo')
  li
    a(href='http://www.kobotoolbox.org/', title='KoBo Toolbox by the Harvard Humanitarian Initiative')
      img(src='/media/images/logos/kobotoolbox.jpg', alt='KoBo LoGo', style='padding: 15px;')
  li
    a(href='https://www.openclinica.com/', title='OpenClinica')
      img(src='/media/images/logos/openclinica.png', alt='OpenClinica logo', style='padding:15px;')
