ul.sponsors
  li 
    a(href='https://getodk.org', title='ODK')
      +img('/media/images/logos/odk.png', title='ODK')
  li
    a(href='https://www.openclinica.com/', title='OpenClinica')
      +img('/media/images/logos/openclinica.png', 'OpenClinica logo', 'padding:15px;')
  li 
    a(href='https://www.linkedin.com/company/enketo-llc', title='Enketo LLC')
      +img('/media/images/logos/enketo_logo.png', 'Enketo logo')
  li
    a(href='http://www.kobotoolbox.org/', title='KoBo Toolbox by the Harvard Humanitarian Initiative')
      +img('/media/images/logos/kobotoolbox.jpg', 'KoBo LoGo', 'padding: 15px;')
  li
    a(href='https://www.santafe.edu/', title='under a project with Slum/Shack Dwellers International')
      +img('/media/images/logos/SFI.jpg', 'SFI logo')
  li
    a(href='http://immap.org')
      +img('/media/images/logos/immap.png', alt='iMMAP logo')
  li 
    a(href='https://ona.io')
      +img('/media/images/logos/onadata.png', alt='Ona logo')
  li
    a(href='http://qsel.columbia.edu/', title='Sustainable Engineering Lab at Columbia University')
      +img('/media/images/logos/sel_columbia.png', 'SEL logo', 'padding: 5px;')
  li
    a(href='http://www.who.int/reproductivehealth/topics/mhealth/en/')
      +img('/media/images/logos/HRP.png', 'HRP logo', 'padding-top: 20px;')