:md
  1. #### Pick a service that includes Enketo
    
    Simply [pick a tool](/#tools) that has Enketo built-in. This is usually the best option.

  2. #### Run Enketo yourself
    
    Enketo is 100% free and [open source](https://github.com/enketo/enketo-express). Look into 
    [installing](primary.Use.Installation) it yourself and ask for support from other users in the [user forum](sites['kobotoolbox-user-forum']). Consider [funding](primary.About.Sponsors) Enketo's further development of new features and fixing of bugs.
    
  3. #### Use a paid Enketo-only or custom service
    
    Consider paying for one of the [services](/services#saas) that run Enketo for you.
