extends ../../templates/layout

block vars
  - var current = 'Use';

block title
  title Use Enketo

block nav
  +menu(primary[current])

block main
  .content
    section
      h2 Use Enketo
      article#options.use
        h3 Options
        p These are the options to start using Enketo:
        include ../../templates/use
      article#form-building
        h3 Form Building
        :md

          Internally, Enketo only understands the [ODK XForms](primary.Develop.XForms) format. However, it is highly
          recommended to build forms using the much easier [XLSForm format](primary.Use.XLSForm) or an advanced form building application
          such as the [KoboToolbox form builder](http://kobotoolbox.org).

          These tools will produce a valid XForm without the need to understand the very complex XForms format.
          There are two XForm validator tools available: [ODK Validate](https://docs.getodk.org/validate/) and [Enketo Validate](https://github.com/enketo/tree/main/packages/enketo-validate).
          For test purposes Enketo is hosting them side-by-side on [validate.enketo.org](https://validate.enketo.org).

