extends ../../../templates/layout

block vars
  - var current = 'Installation';

block title
  title Installation

block nav
  +menu(primary.Use)

block main
  article
    .content
      :marked:interpolate
        ## Installation
        
        Enketo Express is the full-fledged web application that is referred to as Enketo or Enketo Smart Paper. It is the application 
        that can be used to collect data for any [OpenRosa-compliant server](/openrosa#aggregation). 

        To install an Enketo Express production server for data collection, 
        follow [these instructions](http://blog.enketo.org/install-enketo-production-ubuntu/).
    
