extends ../../../templates/layout

block vars
  - var current = 'Installation';

block title
  title Installation

block nav
  +menu(primary.Use)

block main
  article
    .content
      :md
        ## Installation
        
        ### Enketo Express
        
        Enketo Express is a full-fledged web application that is often referred to as just "Enketo" or "Enketo Smart Paper". It can be used to collect data for any [OpenRosa-compliant server](/openrosa#aggregation). 

        To install an Enketo Express production server for data collection, 
        follow [these instructions](http://blog.enketo.org/install-enketo-production-ubuntu/).

        If your organization is already using Heroku, or has particular scaling requirements that Heroku meets well, follow [these instructions](https://github.com/kobotoolbox/enketo-express/blob/master/doc/heroku.md) to deploy Enketo Express on Heroku.
    
