extends ../../../templates/layout

block vars
  - var current = 'Sponsors';

block title
  title Enketo Sponsors

block nav
  +menu(primary.About)

block main
  article
    .content
      :md
        ## Enketo Sponsors
        
        The principal current and past sponsors of the Enketo Project are:
        
      include ../../../templates/sponsors
