extends ../../../templates/layout

block vars
  - var current = 'Sponsors';

block title
  title Enketo Sponsors

block nav
  +menu(primary.About)

block main
  article
    .content
      :md
        ## Enketo Sponsors

        To sponsor Enketo's maintenance for as low as $1/month, please visit:

        * [MartijnR](https://github.com/users/MartijnR/sponsorship)'s GitHub Sponsorship page
        
        The principal current and past sponsors of the Enketo Project are:
        
      include ../../../templates/sponsors
