extends ../../../templates/layout

block vars
  - var current = 'Roadmap';

block title
  title Enketo Roadmap

block nav
  +menu(primary.About)

block main
  article
    .content
      :md
        ## Enketo Project Roadmap
        
        * <span style="color: orange;">orange</span> is ongoing
        * **bold** is our own priority (may not match current availability of resources)

        [![Enketo Roadmap](https://raw.githubusercontent.com/enketo/enketo-roadmap/master/enketo-roadmap.png "Enketo Roadmap")](https://raw.githubusercontent.com/enketo/enketo-roadmap/master/enketo-roadmap.png)

