extends ../templates/layout

block title
  title Page Not Found

block main
  article
    .content
      :marked
        ## Page Not Found

        Sorry, this page does not exist. Please try finding what you are looking for via the navigation menu above.
