extends ../templates/layout

block title
  title Deprecated

block main
  article
    .content
      h2 Deprecated
      p Sorry, this service is no longer available here. 
      p The new enketo.org website is a content-only website dedicated to describing the Enketo open-source project.
