extends ../templates/layout

block title
  title Deprecated

block main
  article
    .content
      h2 Deprecated
      p Sorry, this service no longer exists or has moved to a different location. 
      p Please see the 
        a(href=interpolate(primary.Use.FAQ)+(faqId ? '#'+faqId : '')) FAQ
        |  or send an 
        a(href='mailto:info@enketo.org') email
        |  if you have further questions.
