extends ../../templates/layout

block vars
  - var current = 'OpenRosa';

block title
  title Introduction to OpenRosa

block nav
  +menu(primary.About)

block main
  article
    .content
      :md
        ## Introduction to OpenRosa
        
        OpenRosa/ODK is the name of ecosystem that Enketo is a part of. Tools within this ecosystem follow a [standardized open-source form format](sites['enketo-xform-spec']) and a standardized way of communicating with each other. Other well-known tools within this ecosystem are [ODK](http://getodk.org), [KoBoToolbox](http://kobotoolbox.org) and [Ona](https://ona.io).
      section#target
        :md
          ### Who is it for?
          
          The OpenRosa ecosystem is best suited for organizations and people for whom one or more of the following requirements is valid:
          
          * require tools that follow a **non-proprietary** form format and communication protocols
          * require a system that they can **easily add components to or remove components from**
          * require forms that have **complex skip and validation logic**
          * require tools that are **open-source**
          * require advanced data collection in places that do **not have internet access**

      section#components
        :md
          ### What are the components?

          ![diagram showing components of an OpenRosa system](/media/images/puzzle.png)
          
          The beauty of the OpenRosa ecosystem is that for each of the components illustrated in the diagram, several options are available, which are built and maintained by different groups.
          
          Some tools have spun-off from their originators and have branched in different directions. This has resulted in a *vibrant community* with a wide selection of competitive and complementary tools.
      section#players
        :md
          ### What are the key players?
       
          * [ODK](https://getodk.org)
          * [Enketo](sites['enketo-main'])
          * [Kobo Toolbox](http://www.kobotoolbox.org/) 
          * [Nafundi](http://nafundi.com/) (ODK)
          * [OpenClinica](https://openclinica.com/)  
          * [Ona](https://ona.io) 
          * [Elmo](https://getnemo.org/)

          This list is an honest attempt to list the key ones but it is still subjective. There are many more.

      section#aggregation
        :md
          ### Form Management & Data Aggregation
        
          This is the core component of an OpenRosa information management system as it ties all other components together. The open-source options are 
          [KoBo Toolbox](http://kobotoolbox.org), [ODK Central](https://docs.getodk.org/central-intro/), [Nemo](https://getnemo.org/), [Ona](https://ona.io), and
          [ODK Aggregate](https://docs.getodk.org/aggregate-intro/) (now being replaced by ODK Central)

          The requirements for choosing this crucial component will vary greatly from organization to organization, so we recommend having a look at all of them to determine which one fits best. It is also important to check the GitHub repos of these products to see how actively maintained they are.
        
      section#form-building
        :md
          ### Form Building Tools
        
          Enketo currently recommends using either [XLSForm](sites['xlsform-spec']) or 
          [the new KoBoForm](http://kobotoolbox.org) to construct XForms. Another tool is 
          [ODK Build](http://build.getodk.org).
        
          XLSForm is a way to build forms in a spreadsheet. After an initial learning curve, it becomes very easy to build and maintain forms with this tool. A great advantage of this tool is that it makes it easy to share and discuss forms with others. 

          A new tool by KoBoToolbox, that continued the earlier excellent work of Alex Dorey, provides a Graphical User Interface for XLSForm. This easy-to-use tool was launched on [kobotoolbox.org](http://www.kobotoolbox.org) in 2014 and is starting to revolutionize form building in the OpenRosa ecosystem. In 2017, Ona launched a fork of KoBo's formbuilder.

          ODK build is another easy-to-use tool. It is, however, not suitable for users that require complex or long forms. In 2017, ODK Build added the ability to export forms as XLSForms which means that you can now use this to to build forms to be deployed on KoBo Toolbox and Ona.
          
      section#collection
        :md
          ### Data Collection
        
          The two options are [Enketo](sites['enketo-main']) and 
          [ODK Collect](https://play.google.com/store/apps/details?id=org.odk.collect.android) 
          (there are also various tools that are based on ODK Collect which are grouped together for this comparison). The options are *complementary*, and it is recommended to decide on a survey-to-survey basis which is the most suitable. The following table demonstrates the key differences:
        
          |                                            |  Enketo (web)  |  ODK Collect  |
          |--------------------------------------------|----------------|---------------|
          | Platform                                   | web            |      android  |              
          | Works offline                              | :check:        | :check:       |
          | Dedicated [Single Submission view](https://blog.enketo.org/single-submission-surveys/)| :check: | |
          | Edit already submitted data                | :check:        |               |
          | Dedicated readonly, PDF, print and preview views  | :check: |               |
          | Barcode scanning                           |                | :check:       |
          | Truly dynamic repeat count                 | :check:        | :question:    |
          | Bearing widget                             |                | :check:       |
          | Start-geopoint hidden question             |                | :check:       |
          | Large text input                           | :check:        |               |
          | Additional paper + pencil collection workflow support | :check:|            |
          | Full-form-as-one-page mode                 | :check:        |               |  
          | [Page-by-page mode](https://blog.enketo.org/pages/) | :check: | :check:     |
          | [Automatic saving](https://blog.enketo.org/auto-save/) | :check: |:question:|
          | Embedding forms into any webpage           | :check:        |               | 
          | Retaining **submitted** data locally       |                | :check:       |
          | Setting default values dynamically via API | :check:        |               |
          | Multiple [themes](https://blog.enketo.org/gorgeous-grid/) | :check: |       |
          | [Last-saved value retrieval](https://docs.getodk.org/form-logic/?highlight=last%20saved#values-from-the-last-saved-record)| | :check: |
          | Dynamic "readonly" logic                   |                | :check:       |
          | Data collection [audit logging](https://docs.getodk.org/form-audit-log/)              |                | :check:       |
          | Analog scale inputs :custom:               | :check:        |               |  
          | Comment widget :custom:                    | :check:        |               | 
          | Linking with [external mobile apps](https://docs.getodk.org/launch-apps-from-collect/) :custom: | | :check: |
          | [Distress input](https://blog.enketo.org/distress/) :custom: | :check: |    | 
          | XLSForm `select_external` support :custom: |                |               |
          | appearance `search()` support :custom:     |                | :check:       |
          | Printer widget :custom:                    |                | :check:       |

          Features marked with <span class="custom">custom</span> are not part of the agreed common standards and are unlikely to ever be supported by both clients.
      
          Additional differences with respect to the supported _appearance_ values can be found in the [XLSForm Reference Table](https://xlsform.org/en/ref-table/).
      section#analysis
        :md
          ### Data Analysis
        
          Linked with Data Aggregation component. The options are too numerous to mention.
          
          Some tools have analysis built-in. Others focus on exporting data into formats that can easily be imported into tools of your choice.