extends ../../templates/layout

block vars
  - var current = 'FAQ';

block title
  title Frequently Asked Questions

block nav
  +menu(primary.Use)

block main
  //- 
    features:
      - use class 'dev', 'use' or both to categore a faq
      - use unique id on details element to allow direct scrolling to location

  .content
    article.faq
      h2 Frequently Asked Questions
      nav.faq__nav
        //- ul.button-group
          li: button.faq__nav__all(data-target='.faq') all
          li: button.faq__nav__use(data-target='.faq') use
          li: button.faq__nav__dev(data-target='.faq') dev
        ul.button-group
          li: button.faq__nav__collapse.summary-toggle(data-toggle='collapse') expand

      details#open-source 
        summary Is Enketo open source?
        :md
          Yes it is! The source code is [here](primary.Develop.Code).
      details#offline-use
        summary How can Enketo (Express) work offline?
        :md
          The first time you load any Enketo Express survey, a copy of the app and survey are stored in the browser. An ![offline-enabled icon](/media/images/offline-enabled.png) 
          icon will be shown in the top left of your screen to confirm that it has 
          been stored. From that point onwards you 
          can load that survey even when you do not have an Internet connection. When an application update is available the cache will automatically be updated when the user is online.
        
          You can safely shut down your computer and go to the field
          to collect data. Any data you collect will also be stored persistently in the browser. Enketo will check regularly to see if there
          is an Internet connection available and try to upload any records that have not been marked as 'draft'. Once the server has confirmed
          that the data was received successfully, the record will be deleted from the browser storage.
        
          More details can be read in this old [blog post](http://blog.enketo.org/offline-capable-web-applications/) and this [technical faq](./#offline-tech).
      details#roadmap
        summary What are the future plans for the Enketo project?
        :md
          Our high-level roadmap is published [here](primary.About.Roadmap). The activity in [Enketo's repositories](primary.Develop.Code) is another good indicator of what is happening.
      details#license
        summary What software license is Enketo provided under?
        :md
          See license details for each Enketo app and library in the README.md files of 
          [each repository](primary.Develop.Code).
      details#browsers
        summary What browsers are supported and recommended?
        :md
          All popular modern browsers are supported and recommended on all platforms except on iOS. They are: Chrome, Firefox, and Edge. 
          
          In addition, Safari, a somewhat embarrassingly outdated browser that lags years behind the competition is also supported on iOS and Mac OS.

          On iOS, modern browsers are not allowed by Apple. For example, Chrome on iOS is just an outdated Apple-provided browser engine with a few missing features and a Chrome _skin_. It is not the _real_ Chrome. Therefore, on iOS only, we have no choice but to recommend Safari as it is the _least terrible_ iOS browser available. On iOS, browser version and OS version are linked. We only support Safari on the latest iOS version. Note that webforms on Chrome on iOS do **not work offline**.
      details#name
        summary What does "Enketo" mean and how is it pronounced?
        :md
          Enketo means "survey" in [Esperanto](https://en.wikipedia.org/wiki/Esperanto). 

          We are not sure how to properly pronounce it in Esperanto but you could say [\in-ˈke-tō]. The first "e" and second "e" should be pronounced the same because each letter has only one pronounciation in Esperanto. (How cool is that!)
      details#communicate
        summary How do ODK Central/KoBoToolbox/Ona/Etc communicate with Enketo Express?
        :md

          Generally Enketo Express is installed on its own server and a typical communication takes place as follows between the OpenRosa server (KoBoToolbox/Central/Ona) and Enketo using [various APIs](primary.Develop.APIs):
        
          * The users clicks the Enketo/Webform button in the interface of the OpenRosa Server.
          * The OpenRosa server makes an [API call](sites['enketo-api']) to Enketo to obtain a webform URL.
          * The user is redirected to the webform URL.
          * Enketo retrieves the XForm from the OpenRosa server and displays it to the user.
          * The user collects data and clicks Submit.
          * The data is sent to the OpenRosa server.
      details#sustain
        summary How is this project funded and sustained?
        :md
          The development of Enketo libraries and apps is supported by code contributors and financial contributions by companies and organizations that have adopted Enketo. 
          These adopters are providing Enketo-powered tools as part of their own information management products. 
          Some of them pay for bug fixes, new features and regular maintenance. Some do not contribute back in any way.
      details#offline-tech
        summary What are the technologies used for offline capabilities of Enketo (Express)?
        :md
          The app itself is cached in the browser using the [Service Workers](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API). 
        
          The data, form, and form resources are stored in the browser using indexedDb.
      details#enketo-core-diff
        summary What is the difference between Enketo Express and Enketo Core?
        :md
          Enketo Core is a library that contains Enketo's form engine. It is not an app by itself but a minimal and not-very-opinionated 
          (no JS frameworks!) building block that can be used to create Enketo-powered apps. 
        
          Enketo Express is one of the apps that is powered by Enketo Core. There are quite a few others created and maintained 
          by various companies and organizations.
        
          For more information see [this page](primary.Develop.Libraries).

      details#form-format
        summary What is the form format that Enketo supports?
        :md

          Enketo supports only one form format and that is the widely adopted, open-source [OpenRosa XForms format](primary.Develop.XForms). 

          Very few people directly build forms in this format though. The most popular, and recommended, way to create the supported XForms is to create them as [XLSForms](primary.Use.XLSForm) and then convert them to XForms. 
          Many information management systems will do this conversion for you, behind-the-scenes, and therefore appear to support XLSForms directly.
          
      details#data-ownership
        summary Who owns the data collected with Enketo Express?
        :md
          Enketo Express does not store your data on its server. It is not an all-in-one information management system as it needs to be linked with a form/data server (such as your own installation of ODK Aggregate) that will take care of that. Therefore, the question about data ownership is likely more applicable to the provider of the data/form server you are using. 

          Enketo's offline-capable webform views store data in the user's own browser. When data is submitted to your data server it is routed via the Enketo Express server, which functions as a _proxy_ to avoid cross-domain issues. Depending on the configuration of Enketo Express, some _metadata_ about the submission is logged though. See the Enketo Express [source code](sites['enketo-code']) for the current metadata that may be logged as it may change depending on troubleshooting needs.

          For more information about Enketo's offline technologies see this [technical faq](./#offline-tech).

      details#troubleshooting-enketo-express
        summary Troubleshooting an Enketo Express installation
        :md
          Here are some common things you can try to fix your Enketo Express installation:

          1. Check if your Node.js version is supported by your Enketo Express version. If you are running the latest version of Enketo Express, use the Node.js version included in the [instructions](https://blog.enketo.org/install-enketo-production-ubuntu/#install-required-software)
          2. If you cannot start the application at all, check if the redis tests in the [instructions](https://blog.enketo.org/install-enketo-production-ubuntu/#database-configuration) are passing
          3. Remove the *node\_modules* folder (`rm -R node_modules`) and rebuild with `npm install --production` (or `npm install` if you are planning to play around with Enketo locally in developer mode)
          4. Remove the _public/js/build_ folder (`rm -R public/js/build`) and rebuild with `grunt`

      details#openclinica-relation
        summary What is the relationship between OpenClinica and Enketo? 
        :md
          OpenClinica is using Enketo throughout its platform. It is by far the major sponsor of Enketo and directly responsible for 
          many of its features. 

      details#esri-relation
        summary What is the relationship between OpenClinica and Esri and Survey123?
        :md
          [Esri](https://www.esri.com/) is using Enketo Core as the form engine that powers their own [Survey123 for ArcGIS](https://survey123.arcgis.com/) web application. It was a sponsor of Enketo's libraries and paid for some features and improvements in the past. 

      details#odk-relation
        summary What is the relationship between Enketo and ODK?
        :md

          Enketo and [ODK](https://getodk.org) are following the same XForms format and APIs. This means Enketo Express (and some other Enketo-powered apps) 
          can be used in conjunction with ODK Central, ODK Briefcase, and ODK Build. They should be seen as an alternative for ODK Collect. 
          The codebases of Enketo Express and ODK Collect are completely separate and both are 100% unique implementations of 
          the same specifications. 
      
          Within the ODK Developer Community, Enketo is involved in documenting the [XForms](sites['enketo-xform-spec']) and [XLSForm](sites['xlsform-spec']) specifications. 

          In addition Enketo is actively involved in proposing and discussing additions and changes to the specifications in the ODK Developers' fora. Enketo has been represented in the [ODK TSC](https://getodk.org/community/governance/) as well.
      details#kobo-relation
        summary What is the relationship between Enketo and KoBoToolbox?
        :md
          Enketo Express is an integral part of [kobotoolbox.org](http://kobotoolbox.org) and KoBoToolbox has historically sponsored a 
          large chunk of Enketo Express' development. It still provides code, feedback, emotional support, and funding for features and bug fixes.
      details#ona-relation
        summary What is the relationship between Enketo and Ona?
        :md
          Enketo Express is an integral part of [ona.io](https://ona.io). The founders of Ona have historically played a huge role in Enketo's 
          development and design when we were working together at the [same lab at Columbia University](http://qsel.columbia.edu/). Ona still contributes code, feedback, sponsorship, emotional support, and translations to the Enketo project.
      details#translation
        summary Can I help translate Enketo Express?
        :md
          Please do! Request [here](https://www.transifex.com/enketo/enketo-express) to be added to an existing language or to request for a new language to be added.

