.adopters {
    list-style: none;
    padding: 0 35px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    li {
        margin-left: 25px;
        margin-bottom: 15px;

        img {
            max-width: 240px;
            max-height: 75px;
        }
    }
}
