// No layout properties in this file -> _layout.scss

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.content {
    font-size: 17px;

    h3 {
        font-weight: normal;
        text-align: left;
        color: black;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    h4 {
        text-align: left;
        color: black;
        margin-top: 25px;
    }

    h5 {
        color: $orange-text;
    }

    a {
        color: $orange-text;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
    }
}

.thingie {
    color: $orange-text;
    margin-left: .4em;
    margin-right: .4em;
}

.alert {
    background-color: $gray-lighter;
    border: 1px solid $gray-light;
    padding: 15px;
    border-radius: 5px;
}

.right {
    float: right;
}

.table td:not(:first-child) {
    text-align: center;

    a, .msg {
        font-size: 14px;
    }
}

.clickable:hover {
    cursor: pointer;

    &:before {
        @extend .icon;

        @extend .icon-link;

        $s: 21px;

        color: $gray-light;
        font-size: 18px !important;
        margin-left: -$s;
        width: $s;
        vertical-align: middle;
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 945px) {
    .clickable:hover:before {
        $s: 15px;

        font-size: 16px !important;
        margin-left: -$s;
        width: $s;
        padding-bottom: 4px;
    }
}
