.footer {
    color: $gray-lighter;
    background-color: $gray-darker;
    padding: 34px 0;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__branding {
        img {
            width: 75px;
            margin-left: -15px;
        }
    }

    .footer__branding a:hover {
        background: none;
    }

    &__social {
        flex: 1 1 205px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        a {
            font-size: 35px;
            color: $gray-lighter;
            padding: 5px;
            margin: 5px;
            text-decoration: none;

            &:hover {
                background: $gray;
                text-decoration: underline;
            }
        }
    }

    &__copyright {
        width: 100%;
        text-align: center;
        color: $gray-light;
        margin: 10px 0 -10px 0;
    }

    &__navbar {
        flex: 3 3 200px;

        ul {
            margin: 0;
            padding: 0;
            height: 100%;

            // Safari requires a min-height
            min-height: 75px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            &:link, &:visited {
                color: $gray-lighter;
            }
        }
    }
}
