extends ../../templates/layout

mixin add-item(intro)
  p= intro+' '
    | Please add 
    a(href=sites['enketo-code']+'/enketo-website/issues') an issue describing the request 
    | to this website's repository.

block vars
  - var current = 'Services';

block nav
  +menu(primary.Services)

block title
  title Enketo Services

block main
  article
    .content
      h2 Enketo Services
      section#development
        :md
          ### Enketo Development
          
          To customize or develop new tools, contact:
        
          * (let us know if you'd like to be listed here)

        +add-item('Would you like to be added to this list?')
      section#saas
        :md
          ### Enketo as a Service
          
          The following Enketo services are available:
         
          * Enketo and ODK Central as a service by [ODK](https://getodk.org).
          * Hosting, supporting, and customization of KoBoToolbox instances including Enketo, including extensions for case management and additional security, and disciplined form design by [QED](https://qed.ai).
          
        
        +add-item('Would you like to add a service to this list?')
        
